body {
    font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #e6e6e6;
    color: #000000;
}

.page-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 32px;
}


#layout {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

#radarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#simulationCanvas {
    background-color: #ffffff;
    border: 2px solid #444;
    border-radius: 4px;
}


#infoPanel {
    min-width: 260px;
    background-color: #fff;
    padding: 12px 16px;
    border: 2px solid #000;
    border-radius: 6px;
}

#infoPanel p {
    margin: 6px 0;
    font-size: 14px;
}

#radarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#infoPanel h3 {
    margin-top: 0;
    font-size: 16px;
}

#controls {
    margin: 20px;   
    padding: 10px 5px;
    background-color: #f9f9f9;
    border: 2px solid #000000;
    border-radius: 4px;
    display: flex;              
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#controls label {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

#viewLabel {
    font-weight: bold;
}
